#intro 
  h1 MOUSE MOVEMENT<br/><b>BACKGROUND BLUR</b>
  h2 Move the cursor fast and slooooooooowww
  a(href="https://codepen.io/igcorreia/pen/zGGzzZ/",target="_blank") Visit also Text Scroll motion blur 

-for (var x = 0; x < 15; x++)
  .wrap
-for (var x = 0; x < 30; x++)
  .box
#copy <a href="https://twitter.com/igcorreia" target="_blank">Crafted by: <b>@igcorreia</b><br/></a>